.login_page {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 20px;
}

.App-intro {
  font-size: large;
}

.login_form{
  margin-top: 20px;
}

.login_input{
  border-radius: 0px;
  border: white;
  border-bottom: solid black 1px;
}

.login_button{
  border-radius: 2px;
  color: white;
  border: white;
  background-color: black;
  padding: 10px 25px;
}

.login_block{
  margin: 35px;
}

.login_block_text{
  margin-bottom: 10px;
}

.user-card{
  position: absolute;
  top: 25px;
  right: 25px;
  color: white;
}

.user-card a{
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
